.add-player-title {
  text-align: center;
}

.add-player-form {
  text-align: center;
}

.add-player-button-container {
  text-align: center;
  margin-top: 20px;
}

.add-player-confirmation {
  text-align: center;
}
